{<<"app">>,<<"receipt_verifier">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Verify iTunes receipt with the App Store">>}.
{<<"elixir">>,<<"~> 1.4">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/receipt_verifier">>,<<"lib/receipt_verifier.ex">>,
  <<"lib/receipt_verifier/client.ex">>,<<"lib/receipt_verifier/error.ex">>,
  <<"lib/receipt_verifier/json.ex">>,<<"lib/receipt_verifier/parser.ex">>,
  <<"lib/receipt_verifier/receipt">>,
  <<"lib/receipt_verifier/receipt/app_receipt.ex">>,
  <<"lib/receipt_verifier/receipt/iap_receipt.ex">>,
  <<"lib/receipt_verifier/receipt/pending_renewal_receipt.ex">>,
  <<"lib/receipt_verifier/response_data.ex">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/linjunpop/receipt_verifier">>}]}.
{<<"name">>,<<"receipt_verifier">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}],
  [{<<"app">>,<<"hackney">>},
   {<<"name">>,<<"hackney">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.14">>}]]}.
{<<"version">>,<<"0.13.0">>}.
